<!DOCTYPE html>
<html lang="fr">
<head>
  {{ partial "head" . }}
</head>
<body>
  <header>
    {{ partial "nav" . }}
  </header>
  {{ block "main" . }}{{ end }}
  <footer>
    {{ partial "footer" . }}
  </footer>
  {{ $jquery := resources.Get "js/jquery.js" }}
  {{ $bootstrap := resources.Get "js/bootstrap.js" }}
  {{ $app := resources.Get "js/app.js" }}
  {{ $main := slice $jquery $bootstrap $app | resources.Concat "main.js" | minify | fingerprint }}
  <script src="{{ $main.Permalink }}" {{ with $main.Data.Integrity }} integrity="{{ . }}"{{ end }}></script>
</body>
</html>
