<div class="card text-center">
  {{ $logo := (print "/img/clients/" (.Get "logo")) }}
  {{ with .Get "logo" }}
    {{ $ext := strings.TrimLeft (strings.TrimRight ".png" (strings.TrimRight ".jpg" . )) . }}
        <img src="{{ $logo }}" class="card-img-top img-fluid rounded mx-auto" alt="logo {{ strings.TrimRight ".png" (strings.TrimRight ".jpg" . )}}" style="width: 50%; padding-top: 20px;">
  {{ end }}
  <div class="card-body">
    <h3 class="card-title">{{ .Get "nom" }}</h3>
    <p class="card-text">{{ .Get "description" | markdownify }}</p>
  </div>
  <div class="card-footer">
    <a href="{{ .Get "lien" }}" class="btn btn-info">Site</a>
  </div>
</div>
