<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <td>{{ .Get "prestation" }}</td>
        <td class="text-right"><span class="badge badge-success">{{ .Get "prix" }} € / h</span></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ .Get "prestation" }}
          <p><small class="text-muted">pour les organisations alliées d'<a href="https://algosphere.org/fr/" target="_blank">Algosphère <i class="material-icons">launch</i></a></small></p></td>
        <td class="text-right"><span class="badge badge-success">{{ .Get "prix-algo" }} € / h</span></td>
      </tr>
    </tbody>
  </table>
</div>
